.App{
    text-align: center;
}
body{
    background: url(https://static.vecteezy.com/system/resources/previews/010/839/386/original/aesthetic-minimal-cute-pastel-pink-wallpaper-illustration-perfect-for-wallpaper-backdrop-postcard-background-banner-vector.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.LOGO{
    font-size: 100px;
    color: white;
    text-align: left;
    margin: unset;
}